APP_DEBUG=false
DEFAULT_LANG=zh-cn
APP_PORT=8000
DB_DRIVER=sqlite
SQLITE_PATH=/data/df.db

# 切换 MySQL 时启用以下变量
# DB_DRIVER=mysql
# DB_TYPE=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=deltaforce
# DB_USER=root
# DB_PASS=123456
# DB_CHARSET=utf8mb4
# DB_PREFIX=
